body {
    margin: 50px;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
    color:rgb(19, 85, 146);
    background-color: rgb(211, 236, 237);
    text-align: center;
}

main {
    padding: 80px;
    border: 1px solid rgb(23, 76, 78);
    width: 90%;
    margin: 0 auto;
    text-align: left;
    line-height: 2rem;
}

strong {
    font-weight: 900;
}

i {
    font-style: bold;
}

a:link, a:visited, a:hover, a:active {
    color:rgb(167, 60, 11);
    font-weight: 700;
}